body{
	background: radial-gradient(rgb(200, 200, 200), rgb(120, 132, 190));
	color: white;
	text-align: center;
}

div.head{
	float: left;
	width: 100%;
	background: linear-gradient(rgb(0, 0, 0), rgb(60, 250, 60)); 
	text-align: center;
}

h1{
	font-size: 300%;
}

img{

	height: 120px;
	width: 120px;
	margin-left: 2%;
}

div.tab{

	float: left;
	text-align: center;
}

ul.tabs{
	list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    border: 1px solid #ccc;
    background-color: #f1f1f1;
}

ul.tabs li {
	float: left;
	margin: 20px;
}

ul.tab li a {
    display: inline-block;
    color: black;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    transition: 0.3s;
    font-size: 17px;
}

div.main{

	width: 100%;
	text-align: center;
}

table {
	border: 1; 
	cellpadding: 20px; 
	cellspacing: 20px;
	text-align: center;
	width: 100%;
	font-size: 125%;
	border: 3px black solid;
}

td {
	width: 30%;
	text-align: center;
	border: 3px black solid;
	
}

a.bodylink {
}

form{
	background-color: rgb(30, 170, 30);
	color: white;
	width: 50%;
	padding-left: 50px;
	padding-top: 25px;
	padding-bottom: 25px;
	margin-left: 22%;
}


button {
    background-color: #25dd25S;
    color: white;
    padding: 14px 20px;
    margin: 8px 0;
    border: none;
    cursor: pointer;
    width: 100%;
}


.cancelbtn {
    padding: 14px 20px;
    background-color: #f44336;
}


.cancelbtn,.signupbtn {
    float: left;
    width: 50%;
}


.container {
    padding: 16px;
}

.clearfix::after {
    content: "";
    clear: both;
    display: table;
}


@media screen and (max-width: 300px) {
    .cancelbtn, .signupbtn {
        width: 100%;
    }
}

input[type=text], input[type=time], input[type=date], input[type=password] {
    width: 25%;
    padding: 2px 2px;
    margin: 4px 0;
    display: inline-block;
    border: 1px solid #ccc;
    box-sizing: border-box;
}