body{
	background-color: rgb(100, 200, 256);	
}

h1{
	font-size: 200%;
}

h2{
	font-size: 150%;
}

div.question{
	margin-left: 5%;
	margin-top: 2.5%;
	font-size: 125%;
	font-weight: bold;

}

div.answers{
	margin-left: 30px;
	margin-top: 1%;
	font-size: 75%;
	font-weight: normal;
}

div.submit{
	margin-left: 7.5%;
	margin-top: 1%;
}