body{
	background-color: rgb(100, 200, 256);	
}

h1{
	font-size: 200%;
}

h2{
	font-size: 150%;
}

div.question{
	
	margin-top: 2.5%;
	margin-bottom: 2.5%;
}

div.answer{
	margin-left: 500px;
}

div.submit{
	margin-left: 10%;
	margin-top: 5%;
}